@import "tailwindcss";

html {
  scroll-padding-top: 4rem;
}

:root {
  --gold-color: rgba(255, 231, 165, 0.67);
  --silver-color: rgba(217, 217, 217, 0.72);
  --copper-color: rgba(249, 171, 0, 0.27);
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    color: #4c4c4c;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  .active-scroll-spy {
    border-bottom: 2px solid #4c4c4c;
    margin-bottom: -2px;
  }

  .text-title-1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .text-title-2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: center;
  }

  .text-title-3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
