@import "tailwindcss";

@theme {
  --color-brand-brown: #7f642e;
  --color-brand-beige: #edeae5;
  --color-brand-gray: #4c4c4c;
  --color-brand-beige-light: #f2f1ef;
  --color-brand-yellow: #ffdb72;
  --color-prize-gold: #f9e8ba;
  --color-prize-silver: #dfdedc;
  --color-prize-bronze: #f0d9a7;
}

html {
  scroll-padding-top: 4rem;
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    color: var(--color-brand-gray);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  .active-scroll-spy {
    border-bottom: 2px solid var(--color-brand-gray);
    margin-bottom: -2px;
  }

  .lucide {
    display: inline;
    padding-block-start: 0.11em;
  }
}
