@import "tailwindcss";

:root {
  --gold-color: rgba(255, 231, 165, 0.67);
  --silver-color: rgba(217, 217, 217, 0.72);
  --copper-color: rgba(249, 171, 0, 0.27);
}

@layer base {
  html, body{
    overflow-x: hidden;
  }
  body {
    color: #4c4c4c;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    overflow-x: hidden;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 28px;
    background-color: rgba(242, 241, 239, 0.2);
    box-shadow:
      3px 4px 7px rgba(0, 0, 0, 0.08),
      inset -4px -4px 8px rgba(0, 0, 0, 0.08),
      inset 4px 4px 8px rgba(255, 255, 255, 0.28);
    border-radius: 9px;
  }

  .award-circle {
    width: 65px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    font:
      bold 20px/60px "Roboto",
      sans-serif;
    box-shadow:
      3px 4px 7px rgba(0, 0, 0, 0.08),
      inset -4px -4px 8px rgba(0, 0, 0, 0.08),
      inset 4px 4px 8px rgba(255, 255, 255, 0.28);
    border-radius: 59px;
  }

  .award-circle.gold {
    background-color: var(--gold-color);
  }

  .award-circle.silver {
    background-color: var(--silver-color);
  }

  .award-circle.bronze {
    background-color: var(--copper-color);
  }

  .text-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }

  .text-subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  .text-subsubtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
}
